<h1>Find Photos of a Flickr User</h1>

<%= form_with model: @pages, method: :get do |form| %>
  <%= form.label :flickr_user_id, 'Enter Flickr user ID: ' %>
  <%= form.text_field :flickr_user_id %>
  <%= form.submit 'Search' %>
<% end %>
